@import url(https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Cinzel&family=Dancing+Script&family=Grandstander&family=JetBrains+Mono&family=Orbitron&display=swap);
/*
font-family: 'Alegreya', serif;
font-family: 'Cinzel', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Grandstander', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Orbitron', sans-serif;
*/
*{
    padding: 50px;
    margin: auto;
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
}
h1{
    font-family: 'Alegreya', serif;
    background-color: #ffff00;
}
h2{
    font-family: 'Cinzel', serif;
    background-color: #008000;
}
h3{
    font-family: 'Dancing Script', cursive;
    background-color: #0000ff;
}
h4{
    font-family: 'Grandstander', cursive;
    background-color: #800080;
}
h5{
    font-family: 'JetBrains Mono', monospace;
    background-color: #ff0000;
}
h6{
    font-family: 'Orbitron', sans-serif;
    background-color: #ffa500;
}
h1::selection, h2::selection,
h3::selection, h4::selection,
h5::selection, h6::selection{
    background: #f6fdfd80;
}